.trip-modal-itinerary {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}

.trip-modal-itinerary-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

.plus-button {
  cursor: pointer;
}

.trip-modal-itinerary-container {
  background-color: #f3f3f3;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}
