.dream-trips-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 80px;
  padding: 16px;
  border-radius: 16px;
  background-color: black;
  // margin: 30px;
}
