.trip-modal-edit-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.trip-modal-edit-input {
  padding: 5px 0px 25px 0px;
  margin-right: 40px;
}

.trip-modal-edit-input-image {
  padding-top: 5px;
  margin-right: 40px;
}
